
body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.player, .totalScore, .text-current, .currentScore, .rolldice-btn {
    text-align: center; 
}

.inline, .newgame, .btn, .rolldice, .bi, .hold  {
    display: inline-block;
}

.img, .current, svg {
    height: 100%;
    width: 100%;
}

.dice {
    margin-top: 10%;
    height: 75px;
    width: 100px;
}

.butn {
    height: 3em;
    width: 3em;
    border: none;
    background: white;
    cursor: pointer;
}

#newGameBtn {
    height: 4em;
    width: 4em;
}

.current {
    border: 1px red solid;
    background: red;
    max-height: 100px;
    margin-top: 30%;
}

.player {
    font-size: 1.5em;
    font-weight: 600;
}

.bi-dot {
    height: 8vw;
    width: 8vw;
    color: red;
}

.totalScore {
    font-size: 1.2em;
    color: red;
}

.newgame {
    margin-top : 15%;
    margin-bottom: 15%;
    font-size: 1.2em;
    font-weight: 700;
}

.players {
    margin-bottom: 10%;
}

.currentScore {
    color: white;
    font-size: 2em;
}
  
.text-current {
    color: black;
}

.totalScore {
    font-size: 3em;
}

/* Appareils petits (460px et plus) */
@media (min-width: 460px) {
    .newgame {
        margin-bottom: 15%;
    }

    .players {
        margin-bottom: 20%;
    }

    .current {
        margin-top: 0%;
    }
}

/* Appareils moyens (tablettes, 768px et plus)*/
@media (min-width: 768px) { 
    .newgame {
        margin-top: 5%;
    }
    
    .dice {
        height: 125px;
        width: 175px;
    }
    
    .butn {
        height: 3.8em;
        width: 3.8em;
    }
    
    .player {
        font-size: 2.3em;
    }
    
    .totalScore {
        font-size: 3em;
    }
    
    .current-bloc {
        max-height: 115px;
        max-width: 200px;
    }
    
    .current1 {
        margin-left: 8%;
    }
    
    .current2 {
        margin-right: 8%;
    }
    
    .text-button {
        font-size: 1.2em;
    }
    
    .currentScore {
        font-size: 3em;
    }
    
    .players, .newgame {
        margin-bottom: 10%;
    }
 }

/* Grands appareils (ordinateurs de bureau, 992px et plus)*/
@media (min-width: 992px) {
    .newgame {
        margin-top: 2%;
    }

    .dice {
        height: 150px;
        width: 200px;
        margin-top: 5%;
    }
    
    .butn {
        height: 4.7em;
        width: 4.7em;
    }
    
    .player {
        font-size: 3em;
    }
    
    .totalScore {
        font-size: 5em;
    }
    
    .current-bloc {
        max-height: 115px;
        max-width: 200px;
    }
    
    .current {
        margin-top: 10%;
    }

    .current1 {
        margin-left: 12%;
    }
    
    .current2 {
        margin-right: 12%;
    }
    
    .text-button {
        font-size: 1.5em;
    }
    
    .currentScore {
        font-size: 3em;
    }
    
    .players, .newgame {
        margin-bottom: 4%;
    }
 }