
body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.player, .totalScore, .text-current, .currentScore, .rolldice-btn, .newgame {
    text-align: center; 
    color: 333333;
}

.inline, .newgame, .btn, .rolldice, .bi, .hold  {
    display: inline-block;
}

.img, .current, .bi {
    height: 100%;
    width: 100%;
}

.img {
    background: white;
    border-radius: 22px;
}

.dice {
    margin-top: 10%;
    height: 75px;
    width: 100px;
}

.butn {
    height: 3em;
    width: 3em;
    border: none;
    background: transparent !important;
    cursor: pointer;
}

#newGameBtn {
    height: 4em;
    width: 4em;
}

.current-bloc {
    border: 3px solid white;
}

.current {
    max-height: 100px;
    margin-top: 30%;
}

.current1 {
    background: #333333;
}

.current2 {
    background: #333333;
}

.player {
    font-size: 1.5em;
    font-weight: 600;
}

.bi-dot {
    height: 8vw;
    width: 8vw;
    color: white;
}

.totalScore {
    font-size: 1.2em;
    color: #D72638;
}

.newgame {
    margin-top : 15%;
    margin-bottom: 15%;
    font-size: 1.2em;
    font-weight: 700;
}

.players {
    margin-bottom: 10%;
}

.currentScore {
    color: white;
    font-size: 2em;
}
  
.text-current {
    color: white;
}

.totalScore {
    font-size: 3em;
}


/* Pop-up winner et règles du jeu*/
.modal-win, .modal-rules {
    display: none;
}

.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
}
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.modalText, .rules-title {
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.modalText {
    font-size: 0.4em;
}

.rules-title {
    color: red;
    padding-bottom: 1vw;
    font-weight: bold;
}

#modal-close {
    padding: 10vw;
}


#btn-rules {
    position: fixed;
    top : 15px;
    right: 15px;
    background-color: white;
    border-color: #D72638;
}

.bi-controller {
    width : 4vw;
    height: 4vw;
    background-color: white;
    color: red;
}

#modal-close2, #modal-close1 {
    border: 1px solid red;
    border-radius: 10px;
    background: red;
    color: white;
    font-weight: bold;
    margin-left: 19vw;
    margin-top: 2vw;
}

#modal-close1 {
    padding: 0.5vw;
}

/* Animation du dé */
.anim {
    animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

@keyframes shake {
    0%{
        transform: rotate(8deg);
    }
    30%{
        transform: rotate(-8deg);
    }
    60%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.anim2 {
    animation: shake2 0.6s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;  
}

@keyframes shake2 {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    } 
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  

/* Appareils petits (460px et plus) */
@media (min-width: 460px) {
    .newgame {
        margin-bottom: 15%;
    }

    .players {
        margin-bottom: 20%;
    }

    .current {
        margin-top: 0%;
    }

    .modalText {
        font-size: 0.6em;
    }
}

/* Appareils moyens (tablettes, 768px et plus)*/
@media (min-width: 768px) { 
    .newgame {
        margin-top: 5%;
    }
    
    .dice {
        height: 125px;
        width: 175px;
    }
    
    .butn {
        height: 3.8em;
        width: 3.8em;
    }
    
    .player {
        font-size: 2.3em;
    }
    
    .totalScore {
        font-size: 3em;
    }
    
    .current-bloc {
        max-width: 200px;
    }
    
    .current1 {
        margin-left: 8%;
    }
    
    .current2 {
        margin-right: 8%;
    }
    
    .text-button {
        font-size: 1.2em;
    }
    
    .currentScore {
        font-size: 3em;
    }
    
    .players, .newgame {
        margin-bottom: 10%;
    }

    .modalText {
        font-size: 0.8em;
    }
 }

/* Grands appareils (ordinateurs de bureau, 992px et plus)*/
@media (min-width: 992px) {
    .newgame {
        margin-top: 2%;
    }

    .dice {
        height: 150px;
        width: 200px;
        margin-top: 5%;
    }
    
    .butn {
        height: 4.7em;
        width: 4.7em;
    }
    
    .player {
        font-size: 3em;
    }
    
    .totalScore {
        font-size: 5em;
    }
    
    .current-bloc {
        max-width: 200px;
    }
    
    .current {
        margin-top: 10%;
    }

    .current1 {
        margin-left: 12%;
    }
    
    .current2 {
        margin-right: 12%;
    }
    
    .text-button {
        font-size: 1.5em;
    }
    
    .currentScore {
        font-size: 3em;
    }
    
    .players, .newgame {
        margin-bottom: 4%;
    }

    .modalText {
        font-size: 1em;
    }
 }

